*{
    padding:0;
    margin:0;
}

.container{

    background-color: #DFCBC9;
    width:1100px;
    height:800px;
    border: solid #5FA8E6 7px;


}

.container button{
    background-color: black;
    color: white;
    padding:5px;
    border-radius: 5px;
    font-size: larger;
    width:100px;
}

.heading{
    text-align: center;
    
    display: flex;
    flex-wrap: grow;
    
    
 
    
}

.heading h3{
    
    margin-left: 225px;
    margin-top:20px;
    padding-bottom: 10px;
    border-bottom: solid grey 5px;
    padding-left:150px;
    padding-right:150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size:x-large;
    
   
    

}



.section__1{
    display: flex;
    justify-content: space-between;
    width:900px;
    margin-left: 100px;
    margin-top:30px;
   

}

.section__2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 100px;
    padding-bottom: 40px;


}


.section__1 img{
    width:200px;
    height:300px;
    border: solid black 3px;
    
}

.section__2 img {
    width: 200px;
    height: 300px;
    border: solid black 3px;
}